---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Body from '../../components/Body.astro'
import Footer from '../../components/Footer.astro';
import HeaderLink from '../../components/HeaderLink.astro';
import HomeButton from '../../components/HomeButton.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<HomeButton/>
		<h1 class="text-center text-9xl m-0 p-0 leading-[300px] mt-5">MY PROJECTS</h1>
		<main class="mt-[120px] justify-center">
			<section class="flex flex-row justify-between w-[70%] ml-auto mr-auto">
				<!-- <h2 class="text-center">Programming Projects</h2> -->
				<div class="text-center  pl-5">
					{
						posts.map((post) => (
							<div class="flex justify-center mt-10 mb-10 float-left ml-5 mr-5">
								<a href={`/projects/${post.slug}/`}>
									<img width={600} height={360} src={post.data.heroImage} alt="" class="border-4 border-white border-r-10 shadow-[0_0_50px_0px_#990020]" />
									<h4 class="title">{post.data.title}</h4>
									{
										post.data.category && (
										<h3 class="text-center text-xl italic">{post.data.category}</h3>
										)
									}
									<p class="date">
										<FormattedDate date={post.data.pubDate}/>
									</p>
								</a>
							</div>
						))
					}
				</div>
			</section>
			<!-- <section>
				<h2 class="text-center ml-[40px]">Personal Projects</h2>
				<ul class="text-center">
					{
						personalPosts.map((post) => (
							<li class="flex justify-center mt-10">
								<a href={`/blog/${post.slug}/`}>
									<img width={720} height={360} src={post.data.heroImage} alt="" class="border-4 border-white border-r-10 shadow-[0_0_50px_0px_#990020]" />
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										{post.data.pubDate}
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section> -->
		</main>
		<Footer />
	</Body>
</html>
